@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

* {
  box-sizing: border-box;
}

.container_p {
  width: 100vw;
  height: 90vh;
  margin: 0px;
  padding: 10px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 50px 250px auto 100px;
  grid-template-areas:
    "main           busqueda"
    "main           color"
    "main           codigo-list"
    "nuevo-ingreso  buttons";
}


.item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  font-size: 1.2rem;
  font-weight: bold;
}


.main {
  grid-area: main;
}

.busqueda {
  grid-area: busqueda;
}

.color {
  grid-area: color;
}

.codigo-list {
  grid-area: codigo-list;
}

.nuevo-ingreso {
  grid-area: nuevo-ingreso;
}

.buttons {
  grid-area: buttons;
}

.color1 {
  background-color: lightblue;
}

.color2 {
  background-color: lightgreen;
}

.color3 {
  background-color: lightyellow;
}

.color4 {
  background-color: lightpink;
}

.color5 {
  background-color: lightgray;
}
